*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
a:hover,
a::before,
a::after,
a:hover::before,
a:hover::after {
  transition: all 0.4s ease-in-out;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: LightSeaGreen;
}

::-webkit-scrollbar-thumb {
  background: MediumSeaGreen;
}

::-webkit-scrollbar-thumb:hover {
  background: SeaGreen;
}



body {
  background: MediumSpringGreen;
  margin: 0;
  padding: 0;
}


.ui-row-1 {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding: 35px 30px 25px 30px;
}

.logo-comp {
  position: relative;
  left: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  transition: all 0.4s ease-in-out;
}

.logo-comp:hover {
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.logo-comp > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background: MediumSpringGreen;
  box-shadow: 0 5px 15px 0 SeaGreen, inset 0px -6px 12px 0px SeaGreen;
  transition: all 0.4s ease-in-out;
}

.logo-comp > div > svg {
  fill: white;
  width: 70%;
  height: 70%;
  filter: drop-shadow(1px 1px 0px SeaGreen);
  transition: all 0.4s ease-in-out;
}

.logo-comp p {
  letter-spacing: 3px;
  font-size: 16pt;
  margin: 0;
  margin-left: 12px;
  padding: 0;
  color: SeaGreen;
  transition: all 0.4s ease-in-out;
}

.logo-comp:hover > p {
  color: black;
  transition: all 0.4s ease-in-out;
}

.logo-comp:hover > div > svg {
  fill: black;
  filter: unset;
  transition: all 0.4s ease-in-out;
}

.search {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: auto;
}

.search input {
  width: 100%;
  height: 50px;
  border-radius: 12px;
  box-shadow: 0 10px 20px 0 #3cb37177, inset 0px -4px 8px 0 SeaGreen;
  border: none !important;
  padding: 0px 20px 5px 20px;
}

.search > svg {
  position: absolute;
  right: 20px;
  bottom: 38%;
  width: 18px;
  height: auto;
  fill: SeaGreen;
}

.search input:focus {
  outline: 1px solid MediumSpringGreen;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
}

.profile > svg {
  fill: dimgray;
  width: 25px;
  height: auto;
  margin-right: 20px;
}

.profile > svg:nth-child(3) {
  margin-left: 5px;
  order: 4;
  fill: dimgray;
  margin-right: unset;
}

.profile > svg:hover,
.profile-small > svg:hover {
  cursor: pointer;
  fill: MediumSpringGreen;
}

.profile > svg:active,
.profile-small > svg:active {
  transform: scale(0.92);
}

.profile > div {
  width: 50px;
  height: 50px;
  border-radius: 200px;
  background: url("https://picsum.photos/id/440/60/60") center;
  background-size: cover;
}

.profile-small {
  display: none;
}


.header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding: 10px;
  margin: 5px;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  margin-left: 30px;
}


.page-display {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
}

.page-display h1 {
  position: relative;
  font-size: 30pt;
  color: black;
  font-weight: 800;
  padding: 0;
  margin: 0;
  line-height: 30pt;
}

.page-display h1::after {
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 15px;
  background: SpringGreen;
  content: "";
  z-index: -1;
}

.page-display h2 {
  font-size: 16pt;
  color: dimgray;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.page-display:hover,
.page-display h1:hover,
.page-display h2:hover {
  cursor: default;
}

.clay-category {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 27%;
  height: 100%;
  background: MediumSpringGreen;
  box-shadow: 0 10px 20px 0 #3cb37177, inset 0px -7px 12px 1px MediumSeaGreen;
  border-radius: 20px;
  transition: all 0.4s ease-in-out;
}

.clay-category svg {
  fill: SeaGreen;
  width: 30px;
  height: auto;
  margin-right: 10px;
  transition: all 0.4s ease-in-out;
}

.clay-category:nth-child(2) > svg {
  width: 37px;
}

.clay-category:nth-child(3) > svg {
  width: 24px;
}

.clay-category p {
  color: dimgray;
  font-size: 15pt;
  letter-spacing: 1px;
  transition: all 0.4s ease-in-out;
}

.clay-category:hover {
  cursor: pointer;
  transform: translateX(-15px);
  background: SeaGreen !important;
  transition: all 0.4s ease-in-out;
}

.clay-category:active {
  transform: scale(0.92);
}

.clay-category:hover > svg {
  fill: MediumSpringGreen;
  transition: all 0.4s ease-in-out;
}

.clay-category:hover > p {
  color: white;
  text-decoration: 2px dotted underline MediumSpringGreen;
  transition: all 0.4s ease-in-out;
}

.container {
    margin: 20px;
    padding: 10px;
    height: 95%;
    background: white;
    box-shadow: 0 20px 40px 0 SeaGreen, inset 0px -10px 17px 1px MediumSeaGreen;
    overflow: scroll;
    border-radius: 25px;
    z-index: 998;
    animation: glow 5s ;
}

table tr th {
  background: transparent;
  border-radius: 1px;
  box-shadow: 0 2px 4px 0 SeaGreen, inset 0px -2px 1px 1px MediumSeaGreen;
}

table tr td {
  justify-content: center;
  align-items: center;
  justify-items: center;
  text-align: center;
  background: transparent;
  border-radius: 1px;
}
@keyframes myAnim {
	0% {
		transform: scale(0.5);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes glow {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
  	0% {
		transform: scale(0.5);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes glow15 {
  0% {
    filter: hue-rotate(15deg);
  }
  100% {
    filter: hue-rotate(375deg);
  }
}

@keyframes glow30 {
  0% {
    filter: hue-rotate(30deg);
  }
  100% {
    filter: hue-rotate(390deg);
  }
}

@keyframes glow45 {
  0% {
    filter: hue-rotate(45deg);
  }
  100% {
    filter: hue-rotate(405deg);
  }
}

@keyframes glow60 {
  0% {
    filter: hue-rotate(60deg);
  }
  100% {
    filter: hue-rotate(420deg);
  }
}

@keyframes glow75 {
  0% {
    filter: hue-rotate(75deg);
  }
  100% {
    filter: hue-rotate(435deg);
  }
}
